<<<<<<< HEAD
.tarjeta{
	width: 100%;
	background-color: gray;
}
.right{
	float: right;
}
=======
/*inicia intro*/
.logo-margin{

}
/*login*/
.boton{
  margin: 5vh 0vh;
  padding:10% 10%;
}
.boton::before{
  clear:both;
}

#log{
	border: 2px solid lightgrey;
}

.mt-5{
	margin-top: 5%;
}
>>>>>>> upstream/master
